<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/resources/common/css/base.css}">
    <link rel="stylesheet" th:href="@{/resources/web/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/resources/web/css/article.css}">
</head>

<body>
    <nav th:replace="~{web/fragments/navbar :: navbar}"></nav>

    <div class="content">
        <div class="article__header" th:text="${currentArticle.formatedCreatedDate}"></div>
        <h1 class="article__title" th:text="${currentArticle.title}">
        </h1>
        <p th:utext="${currentArticle.content}"></p>
        <p class="artilce__writer" th:text="${currentArticle.writer.nickname}"></p>
    </div>
</body>

</html>